.input{
    margin-left: 5px !important;
}
.form{
    border-bottom:1px solid rgba(0, 0, blue, 0.7);
    margin-bottom: 5px;
}
.groupbutton{
    margin-left:5px;
}
.footer{
    display:inline;
    margin-left:5px;
}