.header{
    background-color: rgba(63,63,63,1);
    height:50px;
}
.header > h1{
 margin-top:0px;
 margin-left: 5px;
 color: white;
 text-shadow: 1px 1px 1px rgba(0,0,0,1),1px 1px 1px rgba(0,0,0,1),1px 1px 1px rgba(0,0,0,1);
}